---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
  <main>
    <h1>About the Project</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, ipsam! Quis obcaecati unde atque voluptates quos aut id itaque debitis, nostrum sunt corrupti totam illum vel. Molestiae eum dolores labore?</p>
  </main>
</Layout>

<style>
  main {
    color: white;
  }
</style>
