---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ul role="list" class="link-card-grid">
      <Card
        href="/reto-1"
        title="Reto 1"
        body="Bosque de la ASB"
      />
      <Card
        href="/reto-2"
        title="Reto 2"
        body="Biblioteca"
      />
      <Card
        href="/reto-3"
        title="Reto 3"
        body="Patio de la ASB"
      />
      <Card
        href="/reto-4"
        title="Reto 4"
        body="Parque de los niños"
      />
      
    </ul>
  </main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
