---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Juegos y Canciones IM-2024" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <svg
      class="astro-a"
      width="495"
      height="623"
      viewBox="0 -100 495 623"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path d="M164.359 209.738q-.04-.644-.349-1.434-12.865-33.611-12.195-67.53c.603-30.744 14.795-57.574 37.699-77.89a608 608 0 0 1 21.429-18.133Q233.725 26.378 248.521.968a.435.435 0 0 1 .379-.21.41.41 0 0 1 .358.224c8.831 16.497 24.002 32.968 37.685 43.193q16.551 12.356 24.096 19.097 27.62 24.685 33.223 60.12c4.516 28.532-2.386 55.898-11.11 82.808a.42.42 0 0 0 .166.464.389.389 0 0 0 .477-.022c35.97-28.987 90.688-57.01 130.21-14.246 22.809 24.673 39.306 61.768 30.89 95.674-9.26 37.364-43.488 56.528-79.632 61.018q-.951.12-.817-.831c2.184-15.05 3.993-32.834-2.547-46.745-4.221-8.979-11.217-12.209-21.161-13.495-31.266-4.048-56.487 15.626-63.63 45.565a1.1 1.1 0 0 0 .117.811c.142.247.373.431.646.516 11.526 3.457 24.726 11.565 29.859 22.823 9.395 20.638-5.106 34.495-25.785 31.252a.5.5 0 0 0-.47.177.54.54 0 0 0-.092.507c7.652 22.555 28.009 36.224 51.716 35.822a1.21 1.21 0 0 1 .958.447 1.22 1.22 0 0 1 .248 1.027c-7.786 35.689-35.675 56.729-71.175 59.878a2.74 2.74 0 0 0-1.236.415 2.8 2.8 0 0 0-.909.939c-8.925 15.01-22.152 28.023-37.832 35.327-34.094 15.894-68.549-2.949-86.936-33.411a1.3 1.3 0 0 0-1.072-.656c-11.445-.67-21.805-2.935-32.553-7.787q-30.3-13.709-39.642-48.5-.563-2.104 1.609-2.251c24.444-1.649 42.643-14.327 51.395-37.31a1.034 1.034 0 0 0-1.166-1.367q-7.384 1.527-14.608-.523c-19.07-5.414-14.849-27.567-4.557-38.395q10.092-10.628 24.003-15.412a1.1 1.1 0 0 0 .696-1.3c-4.945-20.317-18.293-35.997-38.006-41.76-11.794-3.444-25.115-3.055-36.292 1.823-18.119 7.907-16.176 42.322-12.879 58.176q.188.885-.724.804c-18.293-1.568-37.524-7.384-52.36-17.703-33.302-23.145-35.983-64.596-20.464-99.936q9.757-22.206 26.482-39.789c37.297-39.186 92.069-17.033 127.61 11.847a.41.41 0 0 0 .44.043.42.42 0 0 0 .23-.378m137.674 50.926q-1.863.309-1.461-1.541c7.586-34.858 14.997-69.152 18.615-104.291 1.314-12.651 1.059-21.403-2.921-30.743q-8.028-18.857-22.448-37.203-20.505-26.093-44.453-48.554-.616-.576-1.22.013-26.12 25.503-47.629 54.639a164.3 164.3 0 0 0-18.574 32.163c-5.629 12.906-4.919 23.855-3.15 38.382 4.021 33.076 11.07 65.588 18.106 98.14a.99.99 0 0 1-.254.89.96.96 0 0 1-.872.276c-3.618-.71-6.366-2.359-9.354-5.012-31.212-27.795-87.231-74.687-131.282-44.346-19.794 13.629-33.933 42.282-32.043 66.432 1.903 24.257 21.482 42.456 43.327 51.355a.545.545 0 0 0 .74-.371.6.6 0 0 0-.003-.313c-9.984-31.386 6.607-52.199 35.447-61.835 33.236-11.11 56.702 9.582 74.392 35.461q8.98 13.133 14.983 27.272c.158.368.423.681.762.898a2.05 2.05 0 0 0 1.141.322l16.726-.402a2.04 2.04 0 0 0 1.105-.352c.326-.221.58-.532.731-.895 2.251-5.454 3.511-10.614 3.9-16.846 1.581-25.02 2.01-51.743-2.547-76.496q-.884-4.77-3.457-10.627c-8.711-19.821-27.179-72.771 11.525-75.277q1.019-.067 1.139-1.085c.697-6.433 1.957-14.354 1.112-20.733-.536-4.074-7.719-13.173-1.648-15.84q2.359-1.032 4.677.442c5.213 3.323 1.796 9.555 2.091 14.366q.71 11.646 1.193 23.426c.013.33.156.641.397.866.24.226.559.348.889.34l11.083-.187a1.737 1.737 0 0 0 1.597-1.11c.084-.214.124-.443.119-.673-.443-17.087 2.157-34.736-2.895-51.395-.885-2.908-1.206-8.215 2.68-9.3 8.684-2.413 13.871.026 11.19 9.89-4.047 14.862-3.055 31.118-2.345 50.015.025.649.303 1.263.776 1.712a2.52 2.52 0 0 0 1.757.687l6.755-.054q2.345-.027 2.412-2.372a588 588 0 0 1 1.059-20.96c.241-3.525-.818-7.023-.778-9.837.094-8.992 11.619-9.582 9.837-1.139-.858 4.074-4.047 7.317-4.047 11.512q-.014 9.06 1.568 20.29.08.617.697.536 13.294-1.89 20.839 7.532c12.464 15.559-.201 51.167-7.25 67.704-3.377 7.907-4.637 16.726-5.267 24.217a407 407 0 0 0-.295 64.006q.603 8.108 4.128 15.613.28.576.911.563l17.637-.282a1.609 1.609 0 0 0 1.447-.991c10.065-24.297 28.452-52.843 52.615-64.435 15.599-7.492 32.204-4.945 47.642 1.528 23.815 9.984 32.593 33.195 24.579 56.782a.58.58 0 0 0 .148.62.58.58 0 0 0 .629.104c29.684-13.442 50.122-39.709 41.304-73.709-4.892-18.829-15.399-35.407-31.99-45.981-18.253-11.646-43.515-7.384-62.304 1.595-25.905 12.37-47.776 31.172-68.804 50.738q-3.484 3.244-7.116 3.86m-24.739-87.901c-.442-14.474-20.049-10.279-28.184-7.518q-.63.214-1.273 0-10.252-3.458-18.615-1.742c-10.774 2.211-9.984 12.879-7.987 21.791 4.449 19.941 10.762 39.963 10.534 60.588q0 .697.549 1.086 6.152 4.409 13.388 2.519c2.922-.764 5.187-.375 7.988-.04q6.378.777 11.378-2.962c.199-.15.36-.343.47-.565s.164-.464.159-.708c-.348-20.277 5.763-40.312 10.333-59.905a47.9 47.9 0 0 0 1.26-12.544m-43.595 93.288c-2.145 15.613-3.485 31.682-4.343 47.415-.469 8.617.094 15.077 7.036 20.129 7.76 5.643 4.034-14.835 14.809-10.962q.643.228 1.019.804a27.6 27.6 0 0 1 3.31 7.13c.71 2.372 2.077 4.905 4.797 3.095q8.35-5.534 7.921-16.349a508 508 0 0 0-4.878-53.031c-1.22-8.389-12.142-2.854-16.726-3.913-5.293-1.233-12.007-1.193-12.945 5.682m33.651 79.619c-6.084 10.185-14.996 4.878-17.931-3.739a.57.57 0 0 0-.506-.388.59.59 0 0 0-.566.321c-2.225 4.409-5.522 10.641-11.646 9.757q-3.887-.55-5.522-3.914-1.917-3.966-2.385.416c-1.408 13.16-2.6 44.305 17.515 45.659 25.008 1.689 24.297-31.949 22.153-47.884q-.227-1.715-1.112-.228m48.701 5.709c-8.885-3.216-20.638-2.05-30.1-1.943a1.5 1.5 0 0 0-.995.391 1.48 1.48 0 0 0-.479.949l-2.975 28.894a1.182 1.182 0 0 0 1.287 1.287 177 177 0 0 1 25.53-.764q8.013.321 11.19-.697c6.835-2.198 12.276-8.872 11.539-16.363-.737-7.559-9.18-9.636-14.997-11.754m-127.368.764c-5.75.603-11.606 3.565-16.658 6.219-8.578 4.489-6.594 15.425-.108 20.598q5.575 4.422 12.718 3.819a212 212 0 0 1 30.382-.469.851.851 0 0 0 .911-.951l-2.948-29.229a1.37 1.37 0 0 0-.442-.876 1.34 1.34 0 0 0-.912-.344q-11.633.054-22.943 1.233m112.734 111.515a.465.465 0 0 1 .496-.322q28.21 2.854 47.441-17.462.47-.483-.161-.724c-1.956-.777-4.288-.737-6.004-1.528-18.078-8.282-32.003-28.116-41.142-44.814q-.336-.604-1.019-.496-10.815 1.809-21.241-1.394a.62.62 0 0 0-.482.043.627.627 0 0 0-.309.372c-7.626 24.901-52.521 26.616-60.575 1.314q-.202-.657-.871-.429c-7.465 2.6-13.402 2.452-21.175 2.265q-.684-.014-1.018.589c-9.77 17.463-26.174 43.033-46.705 47.871q-1.206.28-.335 1.139 19.42 19.379 46.973 15.291a.565.565 0 0 1 .603.335c8.55 21.376 27.393 35.957 49.438 41.357 4.034.979 5.508.269 9.261-.978 20.852-6.902 39.4-21.603 46.825-42.429"
      fill="url(#paint0_linear_1805_24383)"/>
      <path d="m441.369 239.583 16.337 8.014a.59.59 0 0 1-.148 1.113l-17.891 3.323a.59.59 0 0 0-.482.496l-2.573 18.012a.59.59 0 0 1-1.099.201l-8.685-15.988a.59.59 0 0 0-.616-.308l-17.931 3.122a.59.59 0 0 1-.618-.297.59.59 0 0 1 .081-.681l12.531-13.214a.59.59 0 0 0 .094-.67l-8.51-16.095a.592.592 0 0 1 .41-.842.6.6 0 0 1 .354.038l16.43 7.826a.585.585 0 0 0 .684-.121l12.664-13.066a.59.59 0 0 1 1.005.496l-2.372 18.038a.587.587 0 0 0 .335.603M77.113 250.268l12.611 12.92a.56.56 0 0 1-.142.894.56.56 0 0 1-.34.057l-17.865-2.627a.56.56 0 0 0-.576.295l-8.376 15.988a.562.562 0 0 1-1.059-.16l-3.028-17.798a.56.56 0 0 0-.456-.455l-17.797-3.029a.56.56 0 0 1-.466-.471.565.565 0 0 1 .305-.588l15.988-8.376a.56.56 0 0 0 .295-.576l-2.627-17.864a.57.57 0 0 1 .303-.583.56.56 0 0 1 .648.1l12.92 12.611a.57.57 0 0 0 .63.107l16.175-8.014a.56.56 0 0 1 .668.096.56.56 0 0 1 .096.668l-8.014 16.176a.56.56 0 0 0 .107.629"
      fill="url(#paint0_linear_1805_24383)"/>
      <defs>
        <linearGradient
          id="paint0_linear_1805_24383"
          x1="247.358"
          y1="0"
          x2="247.358"
          y2="622.479"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.9"></stop>
          <stop offset="1" stop-opacity="0.2"></stop>
        </linearGradient>
      </defs>
      </svg>
      <h1 class="title">Juegos y Canciones <span class="text-gradient">IM 2024</span></h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>

<style>
  header {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-wrap: pretty;
    margin: 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
